header {
    background-image: url("../assets/polarbear-ice.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-text,
.divider-text {
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    margin: 10px auto;
    font-size: 32px;
    text-shadow: 1px 1px #000;
    border-radius: 5px;
}

.text-and-button {
    padding-top: 25%;
}

.btn-danger,
.btn-success {
    font-size: 24px;
    margin-top: 20px;
    text-shadow: 1px 1px #000;
}

.countdown {
    font-size: 25px;
}

#seeMore1,
#seeMore2,
#seeMore3,
#seeMore4,
#seeMore5,
#seeMore6,
#seeMore7,
#seeMore8,
#seeMore9,
#seeMore10,
#seeMore11,
#seeMore12 {
    display: none;
}

.subheading {
    width: 50%;
    margin: 25px auto;
    font-size: 16px;
}


.graph-container {
    background-color: #d3d3d3;
    border-radius: 7.5px;
    box-shadow: 1px 1px 5px 1px #000;
}


.cause-container,
.effect-container {
    width: 75%;
    margin: 25px auto;
    font-size: 16px;
}

.page-divider {
    background-image: url("../assets/deforestation.jpg");
    height: 50vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}


/*----------------- MEDIA QUERIES -----------------*/

/* ------------ SMALL DEVICES ----------*/

@media screen and (min-width: 300px) and (max-width: 700px) {
    
    .text-and-button {
        padding-top: 85%;
    }
    
    .jumbotron-text,
    .jumbotron-button {
        font-size: 18px;
    }
    
    .jumbotron-text,
    .divider-text{
        line-height: 30px;
        width: 90%;
    }
    
    td {
        padding: 10px;
    }
    
    figure,
    .graph-container{
        overflow-x: scroll
    }
    
    .subheading,
    .cause-container,
    .effect-container{
    width: 90%;
    margin: 20px auto;
    font-size: 14px;
}

}


/* ------------ MEDIUM DEVICES ----------*/

/*@media screen and (min-width:751px) and (max-width:1025px) {}


/* ------------ LARGE DEVICES ----------*/

/*@media only screen and (min-width: 1025px) {}


/* ------------ EXTRA LARGE DEVICES ----------*/

/*@media only screen and (min-width: 1200px) {}
